@page
@model BookListRazor.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br/>
<h2 class="text-info">Create New Book</h2>
<br/>

<div class="border container" style="padding:30px">
     <form method="post">
         <div class="form-group row">
             <div class="col-4">
                 <label asp-for="book.Name"></label>
             </div>
                 <div class="col-6">
                     <input asp-for="book.Name" class="form-control"/>
             </div>
         </div>
     </form>
</div>