@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<style>
	body {
		background-color: #ccccb3;
		margin: 0;
	}

	.text-box p {
		color: #666;
	}

	.text-box {
		width: 100%;
		height: 195px;
		padding: 12px 20px;
		box-sizing: border-box;
		border-radius: 4px;
		background-color: #ccccb3;
		resize: none;
		display: flex;
	}

	/*Animation*/

	.text-box:hover {
		background-color: white;
		transition: ease-in-out 1s;
	}

	 .text-box:hover p {
		color: black;
		transition: ease-in-out 1s;
	 }

	 /*Buttons*/

	button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		display: block;
		margin: auto;
		width: 100%;
	}

	button:hover {
		background-color: black;
		color: #4CAF50;
		transition: ease-in-out 2s;
	}

	/*End Animation*/

	.Earth-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.Earth-style {
		box-sizing: border-box;
		border-radius: 4px;
		border-color: aqua;
		background: black;
		resize: none;
	}
</style>

<!--Introduction-->
<div class="text-center">
	<h1 class="display-4">Welcome To Our Online Book Store</h1>
</div>

<h1 style="text-align:center">Why Us?</h1>
<div class="text-box">
	<p style="font-size:23px;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>

<!--End Introduction-->


<br />

<button>Join Our Club</button>

<br />

<h1 style="text-align: center">We Are Across The World!</h1>
<div class="Earth-style">
	<img src="~/Images/Image023.jpg" alt="Test" class="Earth-image" />
</div>
