@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Introduction-->
    <div class="text-center">
        <h1 class="display-4">Welcome To Our Online Book Store</h1>
    </div>
<p>Click here to find out more!</p>


<!--End Introduction-->

<!--Animation-->
