@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .text-box p {
        color:aqua;
    }

	.text-box {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box; 
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color:black;
        resize: none;
	}

    /*Animation*/

	.text-box:hover {
		background-color: white;
		transition: ease-in-out 1s;
	}

    .text-box:hover p {
        color: black;
        transition: ease-in-out 1s;
    }
    /*End Animation*/
</style>

<!--Introduction-->
    <div class="text-center">
        <h1 class="display-4">Welcome To Our Online Book Store</h1>
    </div>

    <div class="text-box">
        <p style="font-size:23px;">
            Click here to find out more!
        </p>
    </div>
    


<!--End Introduction-->
